In [5]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('dataset_1.csv')

In [7]:
data

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.00,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0.0,2.85,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
49996,0,0,0.0,2.91,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
49997,0,0,0.0,8.46,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
49998,0,0,0.0,2.76,0.0,0,0,0,0,0,...,0.00,0,0,0,0,0,0,0.0,0.0000,0
49999,0,0,0.0,5.64,0.0,0,0,0,0,0,...,2.85,0,0,0,0,0,0,0.0,0.0000,0

In [79]:
pip install feature-engine

Requirement already satisfied: feature-engine in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (1.4.1)
Requirement already satisfied: numpy>=1.18.2 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from feature-engine) (1.21.5)
Requirement already satisfied: scipy>=1.4.1 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from feature-engine) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.0 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from feature-engine) (1.1.2)
Requirement already satisfied: pandas>=1.0.3 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from feature-engine) (1.4.2)
Requirement already satisfied: statsmodels>=0.11.1 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from feature-engine) (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.3->feature-engine) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=1.0.3->feature-engine) (1.16.0)
Requirement already satisfied: joblib>=1.0.0 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.0->feature-engine) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.0->feature-engine) (2.2.0)
Requirement already satisfied: patsy>=0.5.2 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/hardik/opt/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [80]:
data.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [81]:
x=data.drop('target',axis=1)
y=data['target']

In [82]:
x

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_291,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0,0.00,0,0,3,0,0,0,0.0,67772.7216
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0.0,2.85,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
49996,0,0,0.0,2.91,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
49997,0,0,0.0,8.46,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
49998,0,0,0.0,2.76,0.0,0,0,0,0,0,...,0,0.00,0,0,0,0,0,0,0.0,0.0000
49999,0,0,0.0,5.64,0.0,0,0,0,0,0,...,0,2.85,0,0,0,0,0,0,0.0,0.0000

In [83]:
y

0        0
1        0
2        0
3        0
4        0
        ..
49995    0
49996    0
49997    0
49998    0
49999    0
Name: target, Length: 50000, dtype: int64

In [84]:
from feature_engine.selection import DropConstantFeatures,DropDuplicateFeatures,DropCorrelatedFeatures

In [85]:
sel=DropConstantFeatures(tol=0.99)
xnew = sel.fit_transform(x)

In [86]:
xnew.shape

(50000, 122)

In [87]:
sel.features_to_drop_

['var_1',
 'var_2',
 'var_3',
 'var_5',
 'var_6',
 'var_7',
 'var_9',
 'var_10',
 'var_11',
 'var_12',
 'var_13',
 'var_14',
 'var_16',
 'var_19',
 'var_20',
 'var_22',
 'var_23',
 'var_24',
 'var_25',
 'var_26',
 'var_27',
 'var_28',
 'var_32',
 'var_33',
 'var_34',
 'var_36',
 'var_39',
 'var_40',
 'var_42',
 'var_43',
 'var_44',
 'var_45',
 'var_48',
 'var_53',
 'var_56',
 'var_59',
 'var_60',
 'var_61',
 'var_63',
 'var_65',
 'var_66',
 'var_67',
 'var_68',
 'var_69',
 'var_71',
 'var_72',
 'var_73',
 'var_77',
 'var_78',
 'var_80',
 'var_81',
 'var_84',
 'var_87',
 'var_89',
 'var_90',
 'var_92',
 'var_94',
 'var_95',
 'var_97',
 'var_98',
 'var_99',
 'var_102',
 'var_104',
 'var_106',
 'var_111',
 'var_112',
 'var_113',
 'var_115',
 'var_116',
 'var_119',
 'var_120',
 'var_122',
 'var_124',
 'var_125',
 'var_126',
 'var_127',
 'var_128',
 'var_129',
 'var_130',
 'var_133',
 'var_134',
 'var_135',
 'var_136',
 'var_137',
 'var_138',
 'var_139',
 'var_141',
 'var_142',
 'var_146',
 'var_149',
 'var_150',
 'var_151',
 'var_153',
 'var_154',
 'var_156',
 'var_158',
 'var_159',
 'var_165',
 'var_167',
 'var_170',
 'var_171',
 'var_172',
 'var_177',
 'var_178',
 'var_180',
 'var_182',
 'var_183',
 'var_184',
 'var_187',
 'var_189',
 'var_193',
 'var_194',
 'var_195',
 'var_196',
 'var_197',
 'var_198',
 'var_199',
 'var_201',
 'var_202',
 'var_204',
 'var_210',
 'var_211',
 'var_212',
 'var_213',
 'var_215',
 'var_216',
 'var_217',
 'var_218',
 'var_219',
 'var_221',
 'var_223',
 'var_224',
 'var_225',
 'var_227',
 'var_228',
 'var_233',
 'var_234',
 'var_235',
 'var_236',
 'var_237',
 'var_238',
 'var_239',
 'var_240',
 'var_242',
 'var_243',
 'var_245',
 'var_246',
 'var_247',
 'var_248',
 'var_249',
 'var_250',
 'var_251',
 'var_254',
 'var_256',
 'var_257',
 'var_260',
 'var_263',
 'var_264',
 'var_265',
 'var_267',
 'var_268',
 'var_273',
 'var_274',
 'var_278',
 'var_280',
 'var_282',
 'var_283',
 'var_285',
 'var_286',
 'var_287',
 'var_289',
 'var_290',
 'var_291',
 'var_293',
 'var_294',
 'var_297',
 'var_298',
 'var_299']

In [88]:
len(sel.features_to_drop_)

178

In [89]:
x['var_23'].describe()

count    50000.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: var_23, dtype: float64

In [90]:
x['var_297'].describe()

count    50000.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: var_297, dtype: float64

In [91]:
x['var_23'].value_counts()

0    50000
Name: var_23, dtype: int64

In [92]:
x['var_1'].value_counts()

0    49975
3       15
6        8
9        2
Name: var_1, dtype: int64

In [93]:
x['var_1'].describe()

count    50000.000000
mean         0.002220
std          0.108145
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          9.000000
Name: var_1, dtype: float64

In [94]:
noofzeroes  = (x['var_2'].value_counts()/len(x)) * 100
noofzeroes

0    99.994
1     0.006
Name: var_2, dtype: float64

In [95]:
x['var_2'].describe()

count    50000.000000
mean         0.000060
std          0.007746
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: var_2, dtype: float64

In [98]:
sel= DropDuplicateFeatures()
xnew1= sel.fit_transform(x)

In [99]:
xnew1

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_286,var_288,var_290,var_291,var_292,var_293,var_295,var_298,var_299,var_300
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,3,0,0.0,67772.7216
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0.0,2.85,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
49996,0,0,0.0,2.91,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
49997,0,0,0.0,8.46,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
49998,0,0,0.0,2.76,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,0.00,0,0,0,0.0,0.0000
49999,0,0,0.0,5.64,0.0,0,0,0,0,0,...,0.0,0.0,0.0,0,2.85,0,0,0,0.0,0.0000

In [100]:
sel.duplicated_feature_sets_

[{'var_151', 'var_6'},
 {'var_116', 'var_7'},
 {'var_112',
  'var_113',
  'var_120',
  'var_122',
  'var_127',
  'var_135',
  'var_158',
  'var_167',
  'var_171',
  'var_182',
  'var_195',
  'var_196',
  'var_201',
  'var_212',
  'var_215',
  'var_225',
  'var_23',
  'var_248',
  'var_294',
  'var_297',
  'var_33',
  'var_44',
  'var_61',
  'var_80',
  'var_81',
  'var_87',
  'var_92',
  'var_97',
  'var_99'},
 {'var_183', 'var_34'},
 {'var_104', 'var_36'},
 {'var_148', 'var_37'},
 {'var_106', 'var_43'},
 {'var_216', 'var_60'},
 {'var_66', 'var_69'},
 {'var_287', 'var_67'},
 {'var_289', 'var_71'},
 {'var_199', 'var_84'},
 {'var_178', 'var_180', 'var_227', 'var_89'},
 {'var_133', 'var_223'},
 {'var_143', 'var_296'},
 {'var_149', 'var_239'},
 {'var_177', 'var_250'},
 {'var_187', 'var_285'},
 {'var_221', 'var_263'},
 {'var_226', 'var_232'},
 {'var_229', 'var_269'}]

In [101]:
from sklearn.pipeline import Pipeline

In [102]:
pip=Pipeline([('Constant',DropConstantFeatures(tol=0.99)),('Duplicate',DropDuplicateFeatures())])

In [103]:
xnew = pip.fit_transform(x)

In [104]:
xnew

,var_4,var_8,var_15,var_17,var_18,var_21,var_29,var_30,var_31,var_35,...,var_275,var_276,var_277,var_279,var_281,var_284,var_288,var_292,var_295,var_300
0,0.00,0,0,0.0,0.00,0.0000,1.98,0.0000,3,0.0000,...,0,0.0,0.00,0.00,0,0,0.0,0.00,0,0.0000
1,3.00,0,3,0.0,0.00,2.7300,1.92,0.0000,0,2.9100,...,0,0.0,0.00,0.00,0,0,0.0,0.00,0,0.0000
2,5.88,0,3,0.0,0.00,19.8990,1.94,69867.6741,3,71397.5526,...,0,0.0,0.00,0.00,0,1,0.0,0.00,3,67772.7216
3,14.10,0,0,0.0,988.47,0.0000,7.44,0.0000,6,19.0164,...,0,0.0,8.55,26.73,0,0,0.0,0.00,0,0.0000
4,5.76,0,3,0.0,0.00,5981.1741,1.94,0.0000,3,6285.6000,...,0,0.0,0.00,0.00,0,0,0.0,0.00,0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2.85,0,3,0.0,0.00,2.7600,1.82,0.0000,3,3.0000,...,0,0.0,0.00,0.00,0,0,0.0,0.00,0,0.0000
49996,2.91,0,3,0.0,0.00,2.8200,1.84,0.0000,3,2.9400,...,0,0.0,0.00,0.00,0,0,0.0,0.00,0,0.0000
49997,8.46,0,3,0.0,0.00,2148.4050,1.96,0.0000,3,3247.6716,...,0,0.0,2.73,2.79,0,0,0.0,0.00,0,0.0000
49998,2.76,0,0,0.0,0.00,0.0000,0.00,1075.7961,0,1104.3588,...,0,0.0,0.00,0.00,0,0,0.0,0.00,0,0.0000
49999,5.64,0,3,0.0,0.00,2587.8216,1.94,0.0000,3,2412.6498,...,0,0.0,8.55,8.19,0,0,0.0,2.85,0,0.0000

In [109]:
len(pip.named_steps['Constant'].features_to_drop_)

178

In [110]:
sel=DropCorrelatedFeatures()

In [112]:
xnew = sel.fit_transform(x)

In [113]:
xnew

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_268,var_271,var_274,var_275,var_276,var_288,var_292,var_293,var_294,var_297
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,0.00,0,0,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,0.00,0,0,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,0.00,0,0,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,90.8868,0.0,0,0,0.0,0.0,0.00,0,0,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,0.0,2.85,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,0.00,0,0,0
49996,0,0,0.0,2.91,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,0.00,0,0,0
49997,0,0,0.0,8.46,0.0,0,0,0,0,0,...,0.0000,6.0,0,0,0.0,0.0,0.00,0,0,0
49998,0,0,0.0,2.76,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,0.00,0,0,0
49999,0,0,0.0,5.64,0.0,0,0,0,0,0,...,0.0000,0.0,0,0,0.0,0.0,2.85,0,0,0

In [114]:
sel.correlated_feature_sets_

[{'var_2', 'var_234'},
 {'var_262', 'var_4'},
 {'var_141', 'var_151', 'var_6'},
 {'var_116', 'var_289', 'var_7', 'var_71'},
 {'var_281', 'var_8'},
 {'var_265', 'var_9'},
 {'var_10', 'var_65'},
 {'var_104',
  'var_12',
  'var_133',
  'var_210',
  'var_223',
  'var_233',
  'var_280',
  'var_283',
  'var_36'},
 {'var_129', 'var_13', 'var_14', 'var_287', 'var_66', 'var_67', 'var_69'},
 {'var_132', 'var_15', 'var_152'},
 {'var_130', 'var_16', 'var_40'},
 {'var_101', 'var_18'},
 {'var_172', 'var_19', 'var_51', 'var_54', 'var_68'},
 {'var_20', 'var_267'},
 {'var_21', 'var_55', 'var_75'},
 {'var_139', 'var_26'},
 {'var_165', 'var_213', 'var_27'},
 {'var_221', 'var_263', 'var_28'},
 {'var_222', 'var_253', 'var_30', 'var_300', 'var_86'},
 {'var_175', 'var_179', 'var_31', 'var_62'},
 {'var_183', 'var_34', 'var_73'},
 {'var_143',
  'var_148',
  'var_168',
  'var_229',
  'var_269',
  'var_270',
  'var_296',
  'var_37'},
 {'var_117', 'var_155', 'var_259', 'var_284', 'var_295', 'var_38', 'var_88'},
 {'var_286', 'var_39'},
 {'var_186', 'var_41', 'var_93'},
 {'var_106', 'var_197', 'var_211', 'var_43'},
 {'var_219', 'var_260', 'var_45', 'var_53'},
 {'var_47', 'var_64'},
 {'var_145', 'var_161', 'var_190', 'var_50'},
 {'var_103', 'var_123', 'var_160', 'var_162', 'var_163', 'var_258', 'var_52'},
 {'var_236', 'var_249', 'var_251', 'var_291', 'var_56'},
 {'var_203', 'var_57'},
 {'var_107', 'var_114', 'var_58'},
 {'var_59', 'var_90'},
 {'var_216', 'var_235', 'var_60'},
 {'var_176', 'var_209', 'var_241', 'var_70'},
 {'var_153', 'var_187', 'var_217', 'var_285', 'var_72'},
 {'var_254', 'var_77'},
 {'var_290', 'var_299', 'var_78'},
 {'var_121', 'var_164', 'var_226', 'var_232', 'var_252', 'var_83'},
 {'var_177', 'var_198', 'var_199', 'var_250', 'var_84', 'var_94'},
 {'var_105', 'var_166', 'var_255', 'var_91'},
 {'var_184', 'var_202', 'var_95'},
 {'var_100', 'var_214', 'var_96'},
 {'var_125', 'var_98'},
 {'var_102', 'var_237'},
 {'var_108', 'var_191'},
 {'var_111', 'var_189'},
 {'var_118', 'var_140', 'var_192', 'var_207', 'var_277', 'var_279'},
 {'var_124', 'var_247'},
 {'var_136', 'var_257'},
 {'var_137', 'var_218', 'var_273'},
 {'var_144', 'var_261'},
 {'var_149', 'var_239'},
 {'var_159', 'var_282'},
 {'var_194', 'var_238', 'var_278'},
 {'var_220', 'var_244', 'var_272'},
 {'var_245', 'var_298'}]

In [125]:
x['var_2'].corr(x['var_234'])

1.0

In [ ]:
# smart correlation method

In [126]:
from feature_engine.selection import SmartCorrelatedSelection

In [128]:
sel = SmartCorrelatedSelection(selection_method='variance')

In [129]:
xnew = sel.fit_transform(x)

In [130]:
xnew

,var_1,var_3,var_4,var_5,var_6,var_8,var_11,var_14,var_15,var_17,...,var_280,var_286,var_288,var_291,var_292,var_293,var_294,var_297,var_298,var_299
0,0,0.0,0.00,0.0,0,0,0.0,0,0,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
1,0,0.0,3.00,0.0,0,0,0.0,0,3,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
2,0,0.0,5.88,0.0,0,0,0.0,0,3,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
3,0,0.0,14.10,0.0,0,0,0.0,0,0,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
4,0,0.0,5.76,0.0,0,0,0.0,0,3,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0.0,2.85,0.0,0,0,0.0,0,3,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
49996,0,0.0,2.91,0.0,0,0,0.0,0,3,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
49997,0,0.0,8.46,0.0,0,0,0.0,0,3,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
49998,0,0.0,2.76,0.0,0,0,0.0,0,0,0.0,...,0.0,0.0,0.0,0,0.00,0,0,0,0,0.0
49999,0,0.0,5.64,0.0,0,0,0.0,0,3,0.0,...,0.0,0.0,0.0,0,2.85,0,0,0,0,0.0

In [131]:
sel.features_to_drop_

['var_2',
 'var_7',
 'var_9',
 'var_10',
 'var_12',
 'var_13',
 'var_16',
 'var_19',
 'var_21',
 'var_27',
 'var_28',
 'var_30',
 'var_31',
 'var_34',
 'var_36',
 'var_37',
 'var_38',
 'var_39',
 'var_41',
 'var_43',
 'var_50',
 'var_52',
 'var_53',
 'var_54',
 'var_55',
 'var_56',
 'var_58',
 'var_59',
 'var_60',
 'var_64',
 'var_66',
 'var_67',
 'var_68',
 'var_69',
 'var_70',
 'var_71',
 'var_72',
 'var_73',
 'var_78',
 'var_83',
 'var_84',
 'var_86',
 'var_88',
 'var_95',
 'var_100',
 'var_101',
 'var_103',
 'var_104',
 'var_105',
 'var_106',
 'var_108',
 'var_114',
 'var_117',
 'var_118',
 'var_121',
 'var_123',
 'var_125',
 'var_129',
 'var_130',
 'var_132',
 'var_133',
 'var_137',
 'var_139',
 'var_140',
 'var_141',
 'var_144',
 'var_145',
 'var_148',
 'var_151',
 'var_152',
 'var_153',
 'var_155',
 'var_160',
 'var_161',
 'var_162',
 'var_165',
 'var_166',
 'var_168',
 'var_172',
 'var_175',
 'var_176',
 'var_177',
 'var_179',
 'var_186',
 'var_187',
 'var_189',
 'var_192',
 'var_194',
 'var_197',
 'var_198',
 'var_199',
 'var_202',
 'var_203',
 'var_210',
 'var_214',
 'var_218',
 'var_219',
 'var_220',
 'var_221',
 'var_223',
 'var_226',
 'var_229',
 'var_232',
 'var_233',
 'var_235',
 'var_236',
 'var_237',
 'var_238',
 'var_239',
 'var_241',
 'var_244',
 'var_245',
 'var_247',
 'var_249',
 'var_250',
 'var_251',
 'var_252',
 'var_253',
 'var_254',
 'var_255',
 'var_257',
 'var_258',
 'var_260',
 'var_262',
 'var_267',
 'var_269',
 'var_270',
 'var_277',
 'var_279',
 'var_281',
 'var_282',
 'var_283',
 'var_284',
 'var_285',
 'var_287',
 'var_289',
 'var_290',
 'var_295',
 'var_296',
 'var_300']

In [138]:
x['var_2'].describe()

count    50000.000000
mean         0.000060
std          0.007746
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: var_2, dtype: float64

In [139]:
x['var_31'].describe()

count    50000.000000
mean         2.700660
std          1.100091
min          0.000000
25%          3.000000
50%          3.000000
75%          3.000000
max         33.000000
Name: var_31, dtype: float64